<div class="col-md-12">
    <div class="card card-container">
      <h1 class="h3 mb-3 fw-normal">Recuperar contraseña</h1>
      @if (!isSuccessful) {
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          />
          @if (email.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (email.errors['required']) {
            <div>Email es requerido</div>
            }
            @if (email.errors['email']) {
            <div>El Email debe ser válido</div>
            }
          </div>
          }
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-primary btn-block">Recuperar</button>
        </div>
  
        @if (f.submitted && isSignUpFailed) {
        <div class="alert alert-warning">
          Signup failed!<br />{{ errorMessage }}
        </div>
        }
      </form>
      } @else {
      <div class="alert alert-success">¡Registro exitoso!</div>
      }
    </div>
  </div>
  