<div class="px-5 py-2 text-center db">
   
   <div class="col-lg-6 mx-auto my-4 vh-100">
      <p class="fs-1 lh-lg">Material
      </p>

      <div class="dropdown-center">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Plástico</a></li>
          <li><a class="dropdown-item" href="#">Madera</a></li>
          <li><a class="dropdown-item" href="#">Cartón</a></li>
          <li><a class="dropdown-item" href="#">Tela</a></li>
          <li><a class="dropdown-item" href="#">Pintura</a></li>
          <li><a class="dropdown-item" href="#">Diseño</a></li>
          <li><a class="dropdown-item" href="#">Depósito</a></li>
        </ul>
      </div>
      <br>
      <div class="container-xl">
        <p>Piezas de plástico en producción</p>
      </div>

      <div class="table-responsive small">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Id Pieza</th>
              <th scope="col">Descripción</th>
              <th scope="col">Terminación</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <td>{{ item.nombre }}</td>
              <td>{{ item.id_pieza }}</td>
              <td>{{ item.materialidad }}</td>
              <td>{{ item.taller }}</td>
              <td>{{ item.estado }}</td>
              <td>{{ item.terminacion }}</td>
            </tr>
          </tbody>
      </table>
      </div>


      <p></p>
<!--        <p>
        <a href="/login" class="btn btn-bd-primary">
          Agregar Materialidad
        </a>

      </p> -->


      
    </div>

   
</div>