<div class="col-md-12">
    <div class="card card-container">
      <h1 class="h3 mb-3 fw-normal">Recuperar contraseña</h1>
      <div class="alert alert-success mt-3">Se ha enviado un código a su correo. Ingréselo para cambiar su contraseña</div>
      <div>Si no ha recibido el correo intente nuevamente</div>
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <label for="password">Código</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        @if (password.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (password.errors['required']) {
          <div>Ingrese el código</div>
          }
          @if (password.errors['minlength']) {
          <div>El código debe tener 6 caracteres</div>
          }
          @if (password.errors['maxlength']) {
            <div>El código debe tener 6 caracteres</div>
        }
        </div>
        }
      </div>
        <div class="form-group mt-3">
          <button class="btn btn-primary btn-block">Verificar</button>
        </div>
  
        @if (f.submitted && isSignUpFailed) {
        <div class="alert alert-warning mt-3">
          Error:<br />{{ errorMessage }}
        </div>
        }
      </form>
      @if (isSuccessful) {
        <div class="alert alert-success mt-3">Se ha enviado una url a su correo. Ingrese a ella para cambiar su contraseña</div>
        <div>Si no ha recibido el correo intente nuevamente</div>
      }
    </div>
  </div>
  