
  <div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">
      <p class="fs-5 lh-lg">Aquí en Migo, estamos comprometidos <br> con la creatividad, la diversión y la
        excelencia <br> en todos nuestros juguetes. <br> Esta platadorma es el corazón de nuestra comunidad interna, <br> 
        donde juntos trabajamos para crear momentos inolvidables <br> para niños de todas las edades.
      </p>
      <p class="lead" *ngIf="!isLoggedIn">
        <a href="/login" class="btn btn-bd-primary">
          Ingresar
        </a>

      </p>
      
    </div>
    
  </div>


   
  